In [13]:
people = {
    'first': ['corey', 'jane', 'john'],
    'last': ['shaefer', 'doe', 'doe'],
    'email': ['rob@gmail.com', 'janegmail.com', 'john@gmail.com']
}

In [14]:
import pandas as pd

In [15]:
df = pd.DataFrame(people)

In [16]:
df

   first     last           email
0  corey  shaefer   rob@gmail.com
1   jane      doe   janegmail.com
2   john      doe  john@gmail.com

In [17]:
df['email']

0     rob@gmail.com
1     janegmail.com
2    john@gmail.com
Name: email, dtype: object

In [18]:
df.set_index('email', inplace=True)

In [19]:
df

                first     last
email
rob@gmail.com   corey  shaefer
janegmail.com    jane      doe
john@gmail.com   john      doe

In [20]:
df.index

Index(['rob@gmail.com', 'janegmail.com', 'john@gmail.com'], dtype='object', name='email')

In [22]:
df.loc['janegmail.com', 'last']

'doe'

In [23]:
df.reset_index(inplace=True)
df.head()

            email  first     last
0   rob@gmail.com  corey  shaefer
1   janegmail.com   jane      doe
2  john@gmail.com   john      doe